---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 720px;
        display: block;
      }
      hr {
        width: 100%;
      }
      @media (max-width: 720px) {
        .blog-list {
          align-items: center;
          display: flex;
          flex-direction: column;
        }
        h4 {
          width: 100%;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>a bit about me</h1>
      <hr />
      <p>
        i was born in Buffalo, but raised in Lake County, IL, and spent a lot of
        time traveling between the two growing up. i live in New York now, but i
        still carry memories of the midwest with me, primarily through my
        masochistic attachment to Chicago sports franchises.
      </p>
      <p>
        i studied computer science at binghamton university, where i won a
        hackathon and conducted undergrad data science research for the computer
        science and psychology departments. in the side, i was a dj for the
        college radio station, WHRW 90.5 FM, where i ran "Pass the Aux", a music
        show with my friends, and "SoundSpeak", a talk show about new music
        releases.
      </p>
      <p>
        currently, I work as a data analyst at CSEA, a labor union in New York,
        where I build data pipelines, visualize complex problems for leadership,
        and help modernize a legacy technical infrastructure. if you think I
        could be a benefit to your team, <a href="/cv">check out my CV</a>.
      </p>
      <p>
        in my free time, i like to write about my experiences with art and
        technology, play basketball, and spend time with my partner of 6 years.
        i struggle with writing, even thought i've been doing it for a decade
        now, but nonetheless i wanted to build this site to finally have a
        public space for my thoughts. i hope you're able to take something
        insightful from it.
      </p>
      <p>
        if you want to reach out to me - to talk shop about something i wrote,
        reach out about opportunities, or just introduce yourself - feel free to
        contact me directly at <u>haydenbrown at comcast dot net</u>! i'm always
        open to conversation and try to respond to every email i get.
      </p>
      <hr />
      <Footer />
    </main>
  </body>
</html>
