---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('August 08 2021')}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    I wear many hats as a part of the Data & Analytics team at the largest labor
    union in New York. As a Senior Data Analyst, I build data processes and
    pipelines, architect supplementary DBs such as Neo4j and MongoDB, and build
    out our budding cloud infrastructure. For a complete overview of what I can
    bring to your team, <a href="/cv">check out my CV</a>.
  </p>
  <p>
    Feel free to reach out to me directly by email at <u
      >haydenbrown at comcast dot net</u
    >.
  </p>
</Layout>
