---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import * as Icon from '@astropub/icons';
---

<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
  <Header />
  <main>
    <style>
      .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }

      .active,
      .accordion:hover {
        background-color: #ccc;
      }

      .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }
    </style>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const accordions = document.querySelectorAll('.accordion');
        accordions.forEach((accordion) => {
          accordion.addEventListener('click', function () {
            this.classList.toggle('active');
            const panel = this.nextElementSibling;
            if (panel.style.display === 'block') {
              panel.style.display = 'none';
            } else {
              panel.style.display = 'block';
            }
          });
        });
      });
    </script>
    <div style="width:100%; text-align:center;">
      <h3>Hayden T. Brown</h3>
      <h5>Data Analyst and Engineer</h5>
      <h5 style="color:#444">Albany, New York</h5>
      <h6>
        he/him ------- <a href="https://robolab.dev">https://robolab.dev</a>
      </h6>
      <p>
        Multi-disciplinary data generalist with a background in non-profit and
        public sector work.
      </p>
    </div>
    <button class="accordion">Experience</button>
    <div class="panel">
      <h5>Senior Data Analyst</h5>
      <p>Civil Service Employees Association of NY (CSEA)</p>
      <p>Albany, NY | 2024-09 to Present</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h5>Data Analyst</h5>
      <p>Civil Service Employees Association of NY (CSEA)</p>
      <p>Albany, NY | 2022-04 to 2024-09</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <button class="accordion">Education</button>
    <div class="panel">
      <h5>B.S. Computer Science, B.A. Mathematical Sciences</h5>
      <p>Binghamton University | Vestal, NY | 2020</p>
      <ul>
        <li>Relevant Coursework</li>
        <li>Awards</li>
        <li>Research Experience</li>
        <li>Clubs and Organizations</li>
        <li>Teaching Assistantship</li>
      </ul>
    </div>
    <button class="accordion">Skills</button>
    <div class="panel">
      <p>Details about skills...</p>
    </div>
    <button class="accordion">Projects</button>
    <div class="panel">
      <p>Details about projects...</p>
    </div>
    <button class="accordion">Awards & Recognition</button>
    <div class="panel">
      <p>HackBU 2018</p>
      <ul>
        <li>1st Overall Prize</li>
        <li>Best Newbie Hack</li>
      </ul>
      <h6>
        source:
        <a
          href="https://www.bupipedream.com/news/campus-news/over-250-students-attend-hackbus-fifth-annual-hackathon/91603/"
          >https://www.bupipedream.com/news/campus-news/over-250-students-attend-hackbus-fifth-annual-hackathon/91603/</a
        >
      </h6>
    </div>
  </main>
  <Footer />
</body>
