---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import * as Icon from '@astropub/icons';

import { getCollection } from 'astro:content';
import BlogPostPreview from '../components/BlogPostPreview.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const recentPosts = posts.slice(0, 3); // Get the three most recent posts
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 720px;
      }
      main h4 {
        color: rgb(var(--gray));
      }
      .blog-list {
        list-style: none; /* Remove bullet points */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        flex-direction: column;
        width: 100%;

      }
      @media (max-width: 720px) {
        .blog-list {
          align-items: center;
          display: flex;
          flex-direction: column;
        }

        h4 {
          width: 100%;
          text-align: center;
        }
        h1 {
          font-size: 2.35em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>&gt;hello, world</h1>
      <p>
        I'm Hayden, welcome to the <span style="background-color: #FFD700;"
          >&lt;robo_lab&gt;</span
        >. This is a digital space for my projects, thoughts, and documenting my
        professional journey.
      </p>
      <p>
        I wear many hats as a part of the Data & Analytics team at the largest
        labor union in New York. As a Senior Data Analyst, I build data
        processes and pipelines, architect supplementary DBs such as Neo4j and
        MongoDB, and build out our budding cloud infrastructure. For a complete
        overview of what I can bring to your team, <a href="/cv"
          >check out my CV</a
        >.
      </p>
      <p>
        If you enjoy reading about experiences with media, art, and tech, or
        just want to see what I've been working on lately, I write a little bit:
      </p>
      <h4>Recent Posts</h4>
      <ul class="blog-list">
        {recentPosts.map((post) => <BlogPostPreview post={post} />)}
      </ul>
    </main>
    <Footer />
  </body>
</html>
