---
const today = new Date();
---

<footer>
  <div class="social-links">
    <a
      href="/rss.xml"
      type="application/rss+xml"
      rel="alternate"
      target="_blank"
    >
      rss
    </a>
    路
    <a
      href="https://substack.com/@haydentbrown?utm_source=user-menu"
      target="_blank"
    >
      substack
    </a>
    路
    <a href="https://www.linkedin.com/in/hayden-t-brown/" target="_blank">
      linkedin
    </a>
    路
    <a href="https://github.com/hb-robo" target="_blank"> github </a>
    路
    <a href="https://buymeacoffee.com/hb.robo" target="_blank"
      >buy me a coffee</a
    >
  </div>
  &copy; {today.getFullYear()} hayden t. brown. all rights reserved.
</footer>
<style>
  footer {
    padding: 1em 1em 6em 1em;
    color: rgb(var(--gray));
    text-align: center;
    width: 100%;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 0.25em;
  }
  .social-links a {
    font-size: inherit;
    text-decoration: underline;
    color: rgb(var(--black));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
